@font-face {
    font-family: 'Neon 80s';
    src: url('./fonts/transfonter.org-20250426-195344/Neon80s.woff2') format('woff2'),
        url('./fonts/transfonter.org-20250426-195344/Neon80s.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-purple: #1d157c;
    --medium-purple: #9a41dc;
    --light-purple: #bc45ff;
    --pink: #ff4cff;
    --light-pink: #ffadff;
    --light-pink-transp: rgba(255, 173, 255, 0.5);
    --yellow: #ffff79;
}

html{
    font-size: 30px;
    font-family: "Neon 80s";
}

button,
input[type="text"]{
    appearance: none;
    font: inherit;
}

body{
    height: 100vh;
    width: 100vw;
}

.modal-container{
    width: 100%;
    height: 100%;
}

.dialog-container{
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    position: absolute;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    display: grid;
}

.hide{
    display: none;
}

.dialog{
    background-color: var(--medium-purple);
    > div{
        background-color: var(--dark-purple);
        border-radius: 30px;
        color: var(--yellow);
        z-index: 100;

        flex-direction: column;
        justify-content: space-between;

        padding: 0.5em 1em;

        >h2{
            margin-bottom: 0.5em;
        }

        > form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 0.5em;
            > ul{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                > li{
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    > input{
                        padding: 0.1em 0.2em;
                        border-radius: 5px;
                        border: 2px solid var(--light-pink);
                    }
                }
                > li + li{
                    margin: 0.5em 0;
                }
            }
        }
    }
}

.main{
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
}

header{
    background-color: var(--medium-purple);
    color: var(--yellow);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5em 2em;
    text-shadow: 0px 0px 7px var(--yellow);
    box-shadow: 0 10px 25px var(--medium-purple);
    z-index: 10;
    justify-items: center;
    text-align: center;
    align-items: center;
    > .buttons{
        justify-self:flex-end;
    }
}

button{
    font-size: 0.8em;
    color: var(--dark-purple);
    background-color: var(--light-pink);
    padding: 0.5em 1em;
    border: 2px solid var(--light-purple);
    border-radius: 15px;
}

button:hover{
    box-shadow: 0 0 10px var(--light-purple);
}

main{
    background-color: var(--light-purple);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.game-board{
    display: flex;
    gap: 2em;
}

.board{
    display: grid;
    grid-template-columns: repeat(10, 2vw);
    grid-template-rows: repeat(10, 2vw);
    border: 1px solid var(--yellow);
}

.board > .cell {
    border: 1px solid var(--yellow);
}

.cell{
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover{
    cursor: default;
}

.unplayed{
    color: var(--light-pink-transp);
    text-shadow: 0 0 10px var(--light-pink-transp);
}

.empty{
    color: var(--light-pink);
    text-shadow: 0 0 10px var(--light-pink);
}

.hit{
    background-color: var(--medium-purple);
    color: var(--dark-purple);
    text-shadow: 0 0 10px var(--dark-purple);
}

.ship{
    background-color: var(--medium-purple);
    text-shadow: 0 0 10px var(--medium-purple);
}

#game-over{
    color: var(--yellow);
    text-shadow: 0 0 3px var(--yellow);
    text-align: center;
}

.game-not-over{
    opacity: 0;
    cursor: default;
}

.game-over{
    opacity: 1;
    cursor: text;
}

.p2{
    justify-content: flex-end;
}

.sep{
    justify-self: center;
}


